
a {
  color: #ffffff
}

a:visited {
  color: #DF8C95
}

a:hover {
  color: #DF8C95
}

#headline{
  padding-left: 10%;
  padding-right: 10%;
}

#toggler{
  color: #a3a3a3
}

#main {
  height: 100vh;
}

#name {
  padding-top: 25vh;
}

#contact {
  padding-top: 20px;
}
#resume {
  padding-top: 20px;
}

i {
  color: black;
}

html {
  height: 100%;
}

#sidebar {
  background-color: #e2e2e2;
}

#content {
 
}

body{

  margin: 0;
  background-color: #394359;
  color: #a3a3a3;
  border: 10px, solid, black;
}